*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(39, 63, 74);
    text-align: center;
}
.h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    text-decoration: underline double;
    text-decoration-color: rgb(150, 253, 253);
    color: aliceblue;
    text-shadow: -3px 2px 3px aqua;
    margin-top: 80px;
}
.input{
    text-align: center;
    margin-top: 50px;
    
}
.input label{
    color: aliceblue;
    text-shadow: -1px 2px 2px aqua;
    margin-right: 20px;
}
.input input{
    width: 300px;
    margin-bottom: 30px;
    height: 20px;
    color: rgb(39, 63, 74);
    text-shadow: -1px 1px 2px aqua;
    background-color: rgb(39, 63, 74);
    border: solid 2px;
    border-color: rgb(138, 195, 195);
    border-radius: 20px;
}
.btn{
    margin-top: 20px;
    font-size: 21px;
    width: 100px;
    border-radius: 20px;
    color: rgb(23, 42, 59);
    text-shadow: -1px 1px 2px rgb(14, 20, 20);
    background-color: aliceblue;
    border: solid 2px;
    border-color: rgb(138, 195, 195);
    transition: 0.5s;
}
.btn:hover{
    transform: scale(1.2);
    color: aliceblue;
    text-shadow: -1px 1px 2px aqua;
    background-color: rgb(39, 63, 74);
    border: solid 2px;
    border-color: rgb(138, 195, 195);
}